<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" style="font-family:arial, 'helvetica neue', helvetica, sans-serif">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>EMU InternL!nk - OTP</title>
	</head>
	<style>
		body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 90%;
			height: 90vh;
			margin: 1rem auto;
			/* background-color: #003679; */
			/* outline: 1px solid red; */
		}

		header {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 70%;
			height: 25vh;
			margin: 0 0 1rem 0;
			background-color: #003679;
			/* outline: 1px solid green; */
		}

		header > img {
			height: 90px;
			width: 90px;
			margin-left: 2rem;
		}

		header > div {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: flex-start;
			height: 70%;
			width: 60%;
			margin-left: 2rem;
			/* outline: 1px solid rebeccapurple; */
		}

		header > div > h1 {
			font-size: 2.2rem;
			color: #fff;
			padding: 0.5rem;
			text-align: center;
		}

		header > div > p {
			color: #fcb131;
			font-size: 1.5rem;
			text-align: center;
			margin: 0 10px;
			/* margin-left: 10px; */
		}

		main {
			padding: 0.5rem;
			width: 69%;
			background-color: #fff;
			margin: 1rem 0 1rem 0;
			/* outline: 1px solid blue; */
		}

		main > h2 {
			color: #003679;
		}

		main > p {
			font-size: 1.1rem;
		}

		footer {
			width: 70%;
			margin: 0.5rem 0 0 0;
			color: #003679;
		}

		footer > p {
			text-align: center;
			font-size: 1.1rem;
			font-weight: bold;
		}
	</style>
	<body>
		<header>
			<img
				src="https://res.cloudinary.com/dmyvdqjso/image/upload/v1700391819/navijje30m4wcf2epexl.png"
				alt="EMU LOGO" />
			<div>
				<h1>EMU-IT InternL!nk</h1>
				<p>One-Time Password (OTP)</p>
			</div>
		</header>

		<main>
			<p>Dear {{userName}},</p>
			<p>Your one-time password (OTP) is:</p>
			<h2>{{otp}}</h2>
			<p>Please use this OTP to complete your verification process.</p>
			<p>
				This OTP is valid for 10 minutes only, once expired a new OTP
				must be generated.
			</p>
		</main>

		<footer>
			<p>Thank you for using the EMU-IT InternL!nk</p>
		</footer>
	</body>
</html>
